@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("/assets/fontello/css/fontello.css");
body {
  position: relative;
  min-width: 1200px;
  font-size: 14px;
  color: #666;
  font-family: 'Noto Sans KR', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  width: 1200px; }

#header {
  width: 100%;
  height: 160px;
  border-top: 3px solid #f3d042; }
  #header > .container {
    position: relative;
    height: 157px; }
  #header .logo {
    position: absolute;
    top: 23px; }
    #header .logo h1 a {
      display: inline-block; }

#top-nav {
  position: absolute;
  top: 39px;
  width: 100%;
  font-size: 0;
  text-align: right; }
  #top-nav > ul {
    display: inline-block; }
    #top-nav > ul > li {
      display: inline-block;
      margin-left: 20px; }
      #top-nav > ul > li:first-child {
        margin-left: 0; }
      #top-nav > ul > li > a {
        font-size: 13px;
        color: #666;
        line-height: 26px; }
  #top-nav .dropdown {
    display: inline-block;
    width: 154px;
    height: 26px;
    vertical-align: top; }
    #top-nav .dropdown.campus {
      margin-left: 30px;
      margin-right: 10px; }
    #top-nav .dropdown > .btn {
      position: relative;
      width: 154px;
      height: 26px;
      font-size: 13px;
      text-align: left;
      line-height: 24px;
      padding: 0;
      padding-left: 10px;
      border-radius: 0;
      border: 1px solid #ccc; }
      #top-nav .dropdown > .btn .glyphicon {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 25px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        border-left: 1px solid #ccc;
        background-color: #f9f9f9; }
      #top-nav .dropdown > .btn:hover, #top-nav .dropdown > .btn:focus {
        box-shadow: none; }
    #top-nav .dropdown > .dropdown-menu {
      top: 25px;
      min-width: 154px;
      margin-top: 0;
      border-radius: 0;
      border: 1px solid #ccc; }
      #top-nav .dropdown > .dropdown-menu > li a {
        font-size: 12px;
        padding-left: 10px; }

#gnb {
  position: absolute;
  bottom: 30px;
  width: 100%; }
  #gnb > ul {
    overflow: hidden; }
    #gnb > ul > li {
      float: left;
      padding: 0 68px;
      text-align: center; }
      #gnb > ul > li a {
        display: inline-block;
        font-size: 17px;
        font-weight: 400;
        color: #333;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #gnb > ul > li a:hover, #gnb > ul > li a:focus {
          text-decoration: none;
          color: #ffd217;
          font-weight: 500; }

#footer {
  width: 100%;
  height: 140px;
  border-top: 1px solid #dadada; }
  #footer .foot-logo {
    position: relative;
    top: 47px;
    text-align: right; }
  #footer .policy {
    padding-top: 35px;
    margin-bottom: 20px; }
    #footer .policy ul {
      font-size: 0; }
      #footer .policy ul li {
        display: inline-block; }
        #footer .policy ul li a {
          font-size: 15px;
          color: #444; }
        #footer .policy ul li:after {
          position: relative;
          top: 1px;
          display: inline-block;
          content: "";
          height: 13px;
          border-right: 1px solid #ccc;
          margin: 0 20px; }
        #footer .policy ul li:last-child:after {
          content: "";
          border: 0;
          margin: 0; }
  #footer .company ul {
    font-size: 0; }
    #footer .company ul li {
      display: inline-block;
      font-size: 14px;
      color: #9c9c9c;
      line-height: 22px; }
      #footer .company ul li:after {
        position: relative;
        top: -2px;
        content: "|";
        font-size: 12px;
        padding: 0 3px; }
      #footer .company ul li:last-child:after {
        content: ""; }
  #footer .company .copyright {
    font-size: 14px;
    color: #9c9c9c;
    line-height: 22px; }

/*# sourceMappingURL=default.css.map */
